---
// src/pages/index.astro
import Game from "../components/Game.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<style>
			html,
			@font-face {
				font-family: 'Friz Quadrata TT';
				src: url('fonts/FrizQuadrataTTRegular.ttf') format('truetype');
			}
			body {
				font-family: 'Friz Quadrata TT';
				margin: 0;
			}
			body {
				padding: 2rem;
			}
		</style>
	</head>
	<body>
		<main>
			<Game client:only="react" />
		</main>
	</body>
</html>
